doctype 5
html(ng-app)
  head
    title MelbJS Demo
    link(rel='stylesheet', href='/stylesheets/style.css' + cachebust)

    if reload
      script(src='/socket.io/socket.io.js')
      script(src='/javascripts/reload-client.js')

    script(src='/javascripts/vendor/angular.js')
    script(src='/javascripts/main.js')

  body
    h1 1 + 2 = {{ 1 + 2 }}
