doctype 5
html(ng-app='melbjs-demo')
  head
    title MelbJS Demo
    link(rel='stylesheet', href='/stylesheets/style.css' + cachebust)

    if reload
      script(src='/socket.io/socket.io.js')
      script(src='/javascripts/reload-client.js')

    script(src='/javascripts/vendor/angular.js')
    script(src='/javascripts/main.js')

  body(ng-controller="BodyController")
    a.prev(href, ng-click='prev()') <

    .slide(ng-repeat='slide in slides', ng-show='$index == chosenIndex')
      h1 {{ slide.title }}
      img(ng-src='{{ slide.image }}')

      ul
        li(ng-repeat='point in slide.dotpoints')
          | {{ point }}

      pre
        code {{ slide.code }}

      footer {{ slide.footnote }}

    a.next(href, ng-click='next()') >
