//@import url(http://fonts.googleapis.com/css?family=Montserrat:700)
//@import url(http://fonts.googleapis.com/css?family=Allura)
//@import url(http://fonts.googleapis.com/css?family=Lato:300,400)

*
  box-sizing: border-box
  padding: 0
  margin: 0

html, body
  height: 100%

body
  background: -webkit-radial-gradient(center, circle cover, white 0%, #F7F2D3 100%)
  display: -webkit-box
  -webkit-box-orient: vertical
  -webkit-box-align: center
  -webkit-box-pack: center
  text-align: center

a.prev, a.next
  font-family: Courier
  font-size: 32px
  position: absolute
  text-decoration: none
  font-weight: bolder
  color: rgb(58, 53, 32)
  top: 50%

a.prev
  left: 20px
a.next
  right: 20px

img
  max-width: 400px

pre
  text-align: left
  word-wrap: normal
